@page
@model QLCuaHang.Pages.HoaDon.Nhap.MH_XoaHoaDonNhapModel
@{
}

<form method="post">
    <p>Bạn có muốn xóa hóa đơn có mã <b>@Model.h.maHD</b> này không?</p>
    <button type="submit">Đồng ý</button>
</form>