@page
@model QLCuaHang.Pages.LoaiHang.MH_SuaLoaiHangModel
@{
}

<h1>Cập nhật loại hàng</h1>
<form method="post">
    <label for="thh">Tên loại hàng:</label><br>
    <input type="text" id="thh" name="tenloaihang" value="@Model.TenLoaiHang"><br />
    

    <input type="submit" value="Cập nhật" />
</form>