@page
@model QLCuaHang.Pages.LoaiHang.MH_XoaLoaiHangModel
@using QLCuaHang.Entity
@{
}

<form method="post">
    <p>Bạn có muốn xóa loại hàng <b>@Model.lh.tenLH</b> này không?</p>
    <button type="submit">Đồng ý</button>
</form>