@page
@model QLCuaHang.Pages.HoaDon.MH_SuaHoaDonModel
@{
}

<h1>Cập nhật hóa đơn</h1>
<form method="post">
    <label>Ngày tạo hóa đơn:</label><br>
    <input type="text" name="ngayTaoHD" value="@Model.ngayTaoHD"><br />

    <input type="submit" value="Cập nhật" />
</form>
<h3 style="color:red">@Model.error</h3>