@page
@model QLCuaHang.Pages.HoaDon.MH_ThemHoaDonModel
@{
}

<h1>Thêm hóa đơn</h1>
<form method="post">
    <label>Nhập mã hóa đơn:</label><br>
    <input type="text" name="mahd" value="@Model.MaHD"><br />
    <label>Nhập ngày tạo hóa đơn:</label><br>
    <input type="text" name="ngaytaohd" value="@Model.NgayTaoHD"><br />

    <input type="submit" value="Thêm" />
</form>     